[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	email = pedram.haqiqi@heygen.com
	name = pedramhaqiqiheygen
[core]
	editor = vim
